
langchain-community
langchain
openai
pandasai==0.2.15
pdfplumber
pypdf==3.9.0
streamlit
streamlit-chat
tiktoken==0.4.0
youtube-transcript-api==0.6.0
faiss-cpu
pandas==2.0.3
python-docx==0.8.11
PyPDF2==3.0.1
